{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
  </head>

  <body>
    <h1>{{ task.title }}</h1>
    <p>コメント: {{ task.comment }}</p>
    <ul>
      <li>登録日: {{ task.posted_at }}</li>
      {% if task.due_at %}
      <li>目標日: {{ task.due_at }}</li>
      {% endif %}
      {% if task.completed %}
      <li>状況: 完了</li>
      {% else %}
      <li>状況: 未完了</li>
      {% endif %}
    </ul>

    <div>
      <a href="{% url 'index' %}">トップ</a>
      <a href="{% url 'delete' task.id %}">削除</a>
      <a href="{% url 'update' task.id %}">編集</a>
      <a href="{% url 'close' task.id %}">完了にする</a>
      <a href="{% url 'notcompleted' task.id %}">未完了にする</a>
    </div>
  </body>

</html>